

// COLORS

$green: #007a33;
$white: #ffffff;
$yellow: yellow;
$orange: #ffcf76;
$star: #ffc107;
$gray: #645d5d;
$green-dark: #114828;
$gray-light: #f1f1f1;


// $breakpoint-tablet: 990px;
$breakpoint-tablet: 1160px;
$breakpoint-mobile: 760px; 